name: Build and test SQRL with Maven
on:
  pull_request:
    branches: [ "main", "v0.5"]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      TZ: 'America/Los_Angeles'
    steps:
    - name: Setup Timezone
      uses: szenius/set-timezone@v1.1
      with:
        timezoneLinux: "America/Los_Angeles"
    - name: checkout
      uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Build SQRL
      env:
        DATASQRL_TOKEN: ${{ secrets.DATASQRL_TOKEN }}
      run: mvn -T 1 -B -U -e clean verify
#    - name: Build SQRL
#      env:
#        DATASQRL_TOKEN: ${{ secrets.DATASQRL_TOKEN }}
#      run: mvn -T 1 -B -U -e clean verify -Dskip.unit.tests=true
